#pokehome {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 28, 9, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.btn-abilities {
    width: 50%;
}

.btn-getMore {
    width: 50%;
}


@media screen and (min-width: 400px) {
    #banner {
        width: 100%;
        padding-left: 0%;
    }

    #abilities {
        width: 45%;
        float: right;
    }

    #pagination {
        width: 50%;
        float: left;
    }

    #getpokemons {
        float: left;
        width: 50%;
    }

    #pagination {
        padding-left: 5%;
        float: left;
    }

    #cards {
        width: 100%;
    }
}